h1{text-align:center;margin-top:100px}
p{margin-top:100px;margin-left:150px;margin-right:150px;text-indent:50px;font-size:23px;text-align:center;}
img {display: block;margin: 0 auto;margin-top:100px;}